/*@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap') */
*{
    font-family: Arial, Helvetica, Sans-Serif;
}
body{
    font-size:14px;
    font-weight: lighter;
}
.user_profile_pic{
    height:200px;
    margin:10px;
}
.greetings{
    float: left;
    display: inline-block;
    margin-right: 35px;
    top: 5px;
    position: relative;
}
.sticky-top{
    border-bottom:1px solid #e7ebed;
}

.sidebar{
    border-right: 1px solid #e7ebed;
    min-height: 100%;
    box-shadow: 0 0 5px lightgrey;
}

.sidebar-col{
    padding:0px;
}

.avatar{
    text-align: center;
}
footer{
    text-align: center;
}

.container-fluid{
    padding:0px;
}
nav .container{
    margin-top:0px;
}

.site-header img{
    top:5px;
    position:relative;
    height:50px;
}

h1, h2, h3, h4, h5, h6{
        line-height: 1.2em;
        color:#f2bb13;
        font-weight: 300;
}

footer{
    padding-top:20px;
    padding-bottom:20px;
    border-top:1px solid #e7ebed
}

.login-box{
    width:500px; 
    margin:auto;
    margin-top:100px;
    padding-top:30px;
    margin-bottom:50px;
}

.nav-link:hover,.active_link{
    background:tomato;
    cursor:pointer;
    color:white !important;
}

.col-md-2, .col-md-10, .col-md-8,.col-md-9{
    display: inline-block; 
    vertical-align: top;
}

.col-md-10{
    max-width:82.333333%;
    padding-right:0px;
}

pre{
    display:inline-block;
}

.search_block input, .search_block button, .search_block select{
    display: inline-block !important;
}

table tr th{
    font-weight: 700 !important;
    text-transform: uppercase;
    color:black;
}

table td{
    font-size:15px !important;
}

.report-jumbotron .form-control{
   display: inline-block;
   width:200px;
}

.report-jumbotron{
    padding-top:1rem !important; 
}

.report-jumbotron label{
    display: inline-block;
    width:100px;
}